.card {
    padding: 20px;
    width: 1050px;
    height: 525px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 16px 28px 0 black, 0 25px 55px 0 grey;
}

.radioPublic {
    display: inline;
    margin: 10px;
    padding: 2px;
}

.radioPrivate {
    display: inline;
    margin: 10px;
    padding: 2px;
}

.privatePassword {
   padding-left: 10px;
   width: 1000px;
   border-radius: 10px;
   display: none;
}

.submitButton {
    width: 200px;
}

.eventDetailsBox {
    height: 75px;
    width: 1000px;
    
}

.closeEventCard {
    float: right;
    margin-top: -5px;
    margin-bottom: 10px;
    height: 35px;
    text-align: center;
    font-family: 'Lilita One', cursive !important;
}

.button {
    font-family: 'Lilita One', cursive !important;
}