.card {
    padding: 20px;
    width: 1050px;
    height: 425px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 16px 28px 0 black, 0 25px 55px 0 grey;
}

.remember {
    color: black;
    text-shadow: white 0px 0px 20px;
}

.eventDetails {
    width: 1010px;
    border-radius: 5px;
}

.radio {
    display: inline;
    margin: 10px;
    padding: 2px;
}