.welcome {
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    color: #274690;
    text-shadow: whitesmoke 0px 0px 3px;
    font-weight: bold;

}

.unite {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: black 0px 0px 10px;

    font-size: 50pt;

}

.containerHome {
    width: 1000px;
    background-image: url('../Img/BulletinBoard.jpg');
    height: 100%;
    margin: 10px auto;
    border-radius: 10px;
    background-attachment: fixed;
    min-height: 100%;
    position: relative;
    background-repeat: no-repeat;
    
}

.eventBoardTitle {
    text-align: center;
    padding: 10px;
    padding-bottom: 40px;
    color: white;
    text-shadow: 3px 3px navy;

}

.eventBoardContainers {
    position: sticky;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.createEventButton {
    margin-top: -30px;
    height: 45px;
    width: 200px;
    font-size: 25px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    margin-left: 40%;
}