.background {

  background-image: url('./Img/UniteBackground.jpg');
  /* min-width: 1024px; */;

  /* background-image: url('./Img/Unitebackground.jpg'); */

  min-height: 100%;
  height: 100vmax;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}